<div class="modal-header">
  <h4 class="modal-title">choose ur location!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form>
    <div class="form-row">
      <div class="col-12">
        <label>Country</label>
        <select [(ngModel)]="country" name="ss" class="custom-select" required>
          <option selected disabled value="">Choose...</option>
          <option *ngFor="let item of locationsStored | keyvalue" [ngValue]="item.key">{{item.key}}</option>
        </select>
      </div>
      <div *ngIf="country.length > 0" class="col-12">
        <label>State</label>
        <select [(ngModel)]="state" name="sss" class="custom-select" required>
          <option selected disabled value="">Choose...</option>
          <option *ngFor="let item2 of locationsStored[country] | keyvalue" [ngValue]="item2.value">{{item2.value}}
          </option>
        </select>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer justify-content-around">
  <button type="button" class="btn btn-success" (click)="submitChoices()">Submit</button>
  <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Close</button>
</div>
