<div class="container-fluid" style="background-color: green">




  <h1>Weather Details</h1>

  <h3>Weather in 15 days</h3>
  <svg id="weatherSVG" style="background-color: yellow; overflow: visible;"></svg>

  <!-- <p>humidity</p>
  <p>wind Speed!</p>
  <p>city-weather-dashboard works!</p>
  <p style="background-color: teal; word-wrap: break-word;">{{this.weatherDetails}}</p>
  <p>city-weather-dashboard works!</p> -->

</div>

<!-- <div class="container-fluid" style="background-color: green">




  <h1>Historical DIV</h1>

  <svg class="container-fluid" id="weatherSVG" style="background-color: blue;"></svg>

  <p>humidity</p>
  <p>wind Speed!</p>
  <p>city-weather-dashboard works!</p>
  <p style="background-color: teal; word-wrap: break-word;">{{this.weatherDetails}}</p>
  <p>city-weather-dashboard works!</p>
</div> -->
